body
{
    background-color:aquamarine;
}

.hammy
{
    background-color:blue;
    color:orangered;
    bottom:0;
    font-size:medium;
    position:fixed;
    line-height:6;
    width:100%;
    text-align:center;

}

button
{
    background-color:palevioletred;
    margin:50px;
    bottom:70;
    left:800;
    position:fixed;
}